In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
#Establim format del seaborn

In [9]:
distribution = pd.read_csv('../datasets/distributon.csv')
sns.set(style="darkgrid")

In [10]:
distribution.describe()

,serial,pass_accuracy,pass_attempted,pass_completed,cross_accuracy,cross_attempted,cross_complted,freekicks_taken,match_played
count,608.000000,608.000000,608.000000,608.000000,608.000000,608.000000,608.000000,608.000000,608.000000
mean,303.110197,80.881086,196.628289,167.337171,16.876645,6.355263,1.705592,5.472039,5.805921
std,176.049031,10.032026,148.231241,135.014856,22.747585,9.401993,3.073054,6.898359,2.481928
min,1.000000,35.700000,9.000000,7.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,142.000000,76.100000,86.750000,68.750000,0.000000,0.000000,0.000000,1.000000,4.000000
50%,304.000000,83.100000,162.500000,133.500000,0.000000,3.000000,0.000000,3.000000,6.000000
75%,456.000000,88.000000,259.750000,222.000000,29.000000,9.000000,2.000000,8.000000,7.000000
max,608.000000,98.000000,814.000000,760.000000,100.000000,81.000000,24.000000,53.000000,13.000000