In [25]:
#Importar biblioteques

In [26]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
#Establim format del seaborn

In [33]:
sns.set(style="darkgrid")
attack = pd.read_csv('datasets/attacking.csv')

In [35]:
attack.describe()

,serial,assists,corner_taken,offsides,dribbles,match_played
count,176.000000,176.000000,176.000000,176.000000,176.000000,176.000000
mean,47.613636,1.596591,3.340909,1.420455,8.982955,6.988636
std,22.527916,1.042957,6.266257,2.246122,11.190034,2.563454
min,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,24.000000,1.000000,0.000000,0.000000,2.000000,5.000000
50%,64.000000,1.000000,0.000000,0.000000,5.000000,6.500000
75%,64.000000,2.000000,4.250000,2.000000,12.000000,8.000000
max,64.000000,7.000000,36.000000,10.000000,83.000000,13.000000

In [37]:
attack.head()

,serial,player_name,club,position,assists,corner_taken,offsides,dribbles,match_played
0,1,Bruno Fernandes,Man. United,Midfielder,7,10,2,7,7
1,2,Vinícius Júnior,Real Madrid,Forward,6,3,4,83,13
2,2,Sané,Bayern,Midfielder,6,3,3,32,10
3,4,Antony,Ajax,Forward,5,3,4,28,7
4,5,Alexander-Arnold,Liverpool,Defender,4,36,0,9,9